body{
	font-family: 'Arial',sans-serif;
	text-decoration: none;
	background: #EEEDED;
}
a:hover{
	color: #24A7CF;
}

.navbar-brand {
    font-family:"Lucida Handwriting";
    color:white;
    font-size: 30px;
    margin-top: -5px;
}
.jumbotron{
	height: 200px;
	overflow: hidden;
}
.jumbotron #details{
	position: absolute;
	color: white;
}
.jumbotron #details span{
	color: #24A7CF;
}
.jumbotron img{
	width: 100%;
}
section .widgets{
	margin-bottom: 30px;
}

.post{

}
.post #date{
	text-align: center;
	font-size: 14px;
	font-family: "Bernard MT Condensed";
}
.post #month{
	text-align: center;
	font-family: "Bernard MT Condensed";
	font-size: 12px;
}
.post #year{
	text-align: center;
	font-family: "Bernard MT Condensed";
	font-size: 12px;
}
.post #post-header{
	border-top:-19px;
	font-family:"Bernard MT Condensed";
	font-size: 24px;
}
.post #author{
	font-family: "Gill Sans MT Ext Condensed Bold";
	font-size: 20px;
}
.post #pic{
	
	height: 120%;
	width: 100%;
	border-radius: 100%;
	border:1px solid #E3E3E3;
}
#post-image{
	height: 400px;
	width: 100%;
	margin-top: 10px;
	margin-left: 10px;
}
.main-post .btn-info{
	font-size: 14px;
	font-family: "Bernard MT Condensed";

}
.secondpost{
	margin-top: 10px;
}

.nav .pager{
	text-align: center;
}
#contactform{
	font-family: "Lucida";
	margin-top: 20px;
	text-align: center;
	font-size: 40px;
	border-left: 12px;
	
}
.form-size{
	text-align: center;
	width: 50%;
	margin-top: 40px;
	margin-left: 30%;
	margin-right: 70%;
	font-family: "Lucida"

}
.recentpost img{
	height: 120px;
	width: 100%;
}
.aboutus img{
	height: 100px;
	width: 100%;
	margin-top: 20px;
	border-radius: 100%;
	border:1px solid #E3E3E3;
}
.comments img{
	height: 60px;
	width: 100%;
	padding-left: 10px;
	padding-right: 
	margin-top: 20px;
	border-radius: 80%;
	border:1px solid #E3E3E3;
}
.glyphicon.glyphicon-user{
	font-size: 44px;
	text-align: center;
	

}
.popular{
	background:white;
	padding: 20px;
	border-radius: 20px;
	border:1px solid #E3E3E3;
}
.popular .details{
	margin-left: -20px;
}
.popular .details p{
	font-family: arial;
	font-size: 11px;
}
.popular img{
	height:50px;
	width:100%;
	margin-right: 0px;
	margin-top: 10px;
}
.popular ul li{
	list-style: none;
}
.categories{
	background:white;
	padding: 20px;
	border-radius: 20px;
	border:1px solid #E3E3E3;

}
.categories img{
	height: 40px;
	width: 37px;
	border-radius: 15px;
	border:1px solid #E3E3E3;
}
.footer{
	text-align: center;
	background-color: grey;
	height: 50px;
	line-height: 50px;
	color: white;
	letter-spacing: 1px;
}


